{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <center><h1 style="font-family: Bebas Neue">P O R T O F O L I O</h1></center>
    <center><img class="fotoprofile" src="https://vignette.wikia.nocookie.net/kirby/images/f/fe/KirbyKSSUwalk.png/revision/latest?cb=20110408075852&path-prefix=en"width="200" height="200"></center>
    <hr/>
    <style>
        .fotoprofile{
            border-radius: 50%
        }
    </style>
    <section name="bio">
        <center><h2 style="font-family: Bebas Neue">Bio</h2>
        <center><p>
            {{content}}
        </p></center>       
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}

